
HEADER_SEARCH_PATHS = ($inherited) "$(HOME)/libs/fftw3f/include" "$(HOME)/libs/essentia_/include"

LIBRARY_SEARCH_PATHS = ($inherited) "$(HOME)/libs/essentia_/lib" "$(HOME)/libs/fftw3f/lib"

//OTHER_LDFLAGS = ($inherited) "$(HOME)/libs/fftw3f/lib/libfftw3f.a" "$(HOME)/libs/essentia_/lib/libessentia.a"



CLANG_WARN_CXX0X_EXTENSIONS = YES

OTHER_CPLUSPLUSFLAGS = -std=c++1y

